.main-menu {
    & ul {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 10;
  }
  & li {
    padding: 12px 0;
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
      z-index: 10;
    }
    &.active {
      & .main-menu__link {
        text-decoration: underline;
      }
    }
  }
  & a {
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    @include transition;
      &:hover, &:active {
      text-decoration: underline;
    }
  }
}

// .main-menu__item {
  
// }

// .main-menu__link {
  
// }

